<!DOCTYPE html>
<html>
<head>
	<title>Admin Login</title>
</head>
<body>

	<h1>Admin Login</h1>
	<form method="POST" action="/admin/loginadmin">
		<input type="text" name="name" placeholder="Name" required>
		<input type="password" name="password" placeholder="Password" required>
		<input type="submit" name="submit">
	</form>

</body>
</html>