<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<ul>
	<% for(var i=0; i<artist.length; i++) {%>
	<li>
	    <a href="/"><%= artist[i] %></a>
	</li>
	<% } %>
	
</ul>
</body>
</html>